<%- include('header'); -%>
        <!-- Page content-->
        <div class="card-header3">
            <h1>
                Resultados en <%= municipioDeseado %>
            </h1>
            <p>
                Precio: $<%= minimo %> - $<%= maximo %>
            </p>
        </div>
        <div class="container">

            <br>
            <br>
                <!-- Blog entries-->
                <div class="row" id="posts">
                    <!-- Featured blog post-->
                    <% posts.forEach(function(post) { %>
                        <% if(post.municipio == municipioDeseado && Number(post.price) >= Number(minimo) && Number(post.price) <= Number(maximo) ) { %>
                        <div class="card mb-4">
                            <div class="card-header2">
                                <label><b>
                                    <%= post.municipio %>
                                </b></label>
                            </div>
                            <a href="#!">
                                <% if (post.image != "" ) { %>
                                     <img class="card-img-top" src="<%= post.image %>" alt="..." />
                                <% } else { %>
                                    <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                                <% } %>
                            </a>
                            <div class="card-body">
                                <div class="small text-muted">
                                    <%= post.time %> by <%= post.user %>
                                </div>
                                <h2 class="card-title">
                                    <%= post.title %>
                                </h2>
                                <p class="card-text">
                                    $<%= post.price %>
                                </p>
                                <a class="btn btn-primary" href="posts/<%= post._id %>">Read more →</a>
                            </div>
                        </div>
                        <% } %>
                    <% }) %>
                </div>
        </div>

<%- include('footer'); -%>
