<%- include('header'); -%>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                
                <div class="col-lg-8" id="posts">
                    <!-- Featured blog post-->
                    <% posts.forEach(function(post) { %>
                        <div class="card mb-4" id="post-<%= post._id %>">
                            <div class="card-header2">
                                <label><b>
                                    <%= post.municipio %>
                                </b></label>
                            </div>
                            <a href="#!">
                                <% if (post.image != "" ) { %>
                                     <img class="card-img-top" src="<%= post.image %>" alt="..." />
                                <% } else { %>
                                    <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                                <% } %>
                            </a>
                            <div class="card-body">
                                <div class="small text-muted">
                                    <%= post.time %> by <%= post.user %>
                                </div>
                                <h2 class="card-title">
                                    <%= post.title %>
                                </h2>
                                <p class="card-text">
                                    $<%= post.price %>
                                </p>
                                <a class="btn btn-primary" href="posts/<%= post._id %>">Leer mas →</a>
                            </div>
                        </div>
                    <% }) %>
                    <div class="row" style="  display: flex;justify-content:center;">
                            <button type="button" class="btn btn-info" onclick="getPrior();" style="width: 50px;background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color:cornsilk">
                               <b><</b>
                            </button>
                            <input type="number" readonly id="pageCounter" value= "<%= page + 1 %>" required min= 1 style="width: 65px;background-color:rgb(33, 37, 41);border-color:cornsilk; color:cornsilk">

                            <button type="button" class="btn btn-info" onclick="getNext();" style="width: 50px;background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color: cornsilk;">
                               <b>></b> 
                            </button>
                    </div>
                    <br>
                    <br>
                </div>

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header2"><i class="fas fa-search-dollar" style="color:white;"></i><b>Busqueda</b></div>
                        <div class="card-body2">
                            <form method="POST" onsubmit="doSearch(this);">
                                    <label><b>Municipio:   </b></label>
                                    <select name="municipio" id="municipioDeseado" style="background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color: cornsilk;">
                                        <option value="Guadalajara" selected>Guadalajara</option>
                                        <option value="Tlajomulco de Zuñiga">Tlajomulco de Zuñiga</option>
                                        <option value="Zapopan">Zapopan</option>
                                        <option value="Tonalá">Tonalá</option>
                                        <option value="El Salto">El Salto</option>
                                        <option value="Tlaquepaque">Tlaquepaque</option>
                                    </select>
                                    <br>
                                    <br>
                                    <label><b>Precio minimo:   </b></label>
                                    <input type="number" id="minimo" name="minimo" min="0" max="1000000000" value= 0 style="background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color: cornsilk;">
                                    <br>
                                    <br>
                                    <label><b>Precio maximo:   </b></label>
                                    <input type="number" id="maximo" name="maximo" min="0" max="10000000000000" value=99999999 style="background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color: cornsilk;">
                                    <br>
                                    <br>
                                    <input type="submit" class="btn btn-primary" value="Buscar" style="background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color: cornsilk;"/>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            var socket = io();
            socket.on("delete_post", function (replyId) {
                document.getElementById("post-"+replyId).remove();
            });
            socket.on("new_post", function(formData){

                var html = "";

                html += '<div class="card mb-4" id='+ "post-"+formData._id +'>';
                    html += '<div class="card-header2">';
                        html += '<label><b>';
                            html +=  formData.municipio;
                        html += '</b></label>';
                    html += '</div>';
                    html += '<a href="#!">';
                        if (formData.image != "" ) {
                            html += '<img class="card-img-top" src="' + formData.image +'" alt="..." />';
                                } else {
                                    html += '<img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />';
                                 }
                    html += '</a>';
                    html += '<div class="card-body">';
                        html += '<div class="small text-muted">';
                            html += formData.time + ' by ' +formData.user;
                            html += '</div>';
                            html += '<h2 class="card-title">';
                            html += formData.title;
                            html += '</h2>';
                            html += '<p class="card-text">';
                                html += '$'+formData.price;
                            html += '</p>';
                            html += '<a class="btn btn-primary" href="posts/' + formData._id + '">Leer mas →</a>';
                    html += '</div>';
                html += '</div>';
                $("#posts").prepend(html);
            });
        </script>

    <script>
        function doSearch(form){
            $.ajax({
                url:"/search",
                method: "POST",
                data:{municipioDeseado:form.municipio.value},
                success: function(response){
                    console.log("oka");
                }

            });
            return false;
        }
    </script> 
    <script>
        var start= parseInt(document.getElementById('pageCounter').value)
        nextPage= start + 1
        priorPage = start - 1 
        if (priorPage < 1) {
            priorPage = 1
        }
        function getNext(){
            window.location = "/main"+nextPage
        }
        function getPrior(){
            window.location = "/main"+priorPage
        }
    </script>
<%- include('footer'); -%>
