<%- include('header'); -%>
        <!-- Page content-->
        <% if (Number(minimo) > Number(maximo)) { %>
            <div class="card-header3" style="background-color: rgb(33, 37, 41);">
                <p>
                    Búsqueda erronea
                </p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        <% } else { %>
        <div class="card-header3" style="background-color: rgb(33, 37, 41);">
            <h1>
                Resultados en <%= municipioDeseado %>
            </h1>
            <p>
                Precio: $<%= minimo %> - $<%= maximo %>
            </p>
        </div>
        <div class="container">

            <br>
            <br>
                <!-- Blog entries-->
                <div class="row" id="posts">
                    <!-- Featured blog post-->
                    <% posts.forEach(function(post) { %>
                        <% if(post.municipio == municipioDeseado && Number(post.price) >= Number(minimo) && Number(post.price) <= Number(maximo) ) { %>
                        <div class="finalContainer">
                            <div class="card-header2" style="margin-inline-start: -12px;margin-inline-end: -12px;">
                                <label><b>
                                    <%= post.municipio %>
                                </b></label>
                            </div>
                            <br>
                            <a href="#!">
                                <% if (post.image != "" ) { %>
                                     <img class="card-img-top" src="<%= post.image %>" alt="..." />
                                <% } else { %>
                                    <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                                <% } %>
                            </a>
                            <div class="card-body">
                                <div class="small text-muted">
                                    <%= post.time %> by <%= post.user %>
                                </div>
                                <h2 class="card-title" style="color: black;">
                                    <%= post.title %>
                                </h2>
                                <p class="card-text" style="color: black;">
                                    $<%= post.price %>
                                </p>
                                <a class="btn btn-primary" href="posts/<%= post._id %>">Leer mas →</a>
                            </div>
                        </div>
                        <br>
                        <% } %>
                    <% }) %>
                </div>
        </div>
        <% } %>

<%- include('footer'); -%>
