<%- include('header'); -%>
        <!-- Page content-->
        <div class="container mt-5">
         
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4-alt">
                            <div class="card-header2">
                                <label><b>
                                    <%= post.municipio %>
                                </b></label>
                            </div>
                            <br>
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">
                                <%= post.title %>
                            </h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">
                                <%= post.time %> by <%= post.user %>
                            </div>
                            <br>
                            <br>

                            <figure class="mb-4">
                                <% if (post.image != "" ) { %>
                                    <img class="img-fluid rounded" src="<%= post.image %>" alt="..." />
                                <% } else { %>
                                    <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                                <% } %>
                            </figure>
                            <br>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="card-header4">
                                    $<%= post.price %>
                                </p>
                            </section>
                            <section>
                                <div class="fs-5" style="white-space:pre-line;"><b>
                                    <%= post.description %>
                                </b></div>
                            </section>
                            <br>

                            <fieldset class="gllpLatlonPicker">
                                <br/><br/>
                                <div class="gllpMap">Google Maps</div>
                                <br/>
                                    <input type="text" hidden class="gllpLatitude" value=<%= post.x %>> 
                                    <input type="text" hidden class="gllpLongitude" value=<%= post.y %>>  
                                <br/>
                            </fieldset>

                            <section class="card-header5">
                                <br>
                                <section class="card-header4">
                                    <p>
                                        Tama침o del terreno - <%= post.size %> metros cuadrados
                                    </p>
                                </section>
                                <br>
                                <section class="card-header4">
                                    <p>
                                        <%= post.rooms %> habitacion(es)/<%= post.fullBathrooms %> ba침o(s) completo(s)
                                    </p>
                                </section>
                                <br>
                                <section class="card-header4">
                                    <p>
                                        <%= post.extraRooms %> cuarto(s) adicional(es)/<%= post.halfBathrooms %> ba침o(s) medio(s)
                                    </p>
                                </section>
                                <br>
                                <section class="card-header4">

                                    <p>
                                        <%= post.floors %> planta(s)/<%= post.balcones %> balcon(es)
                                        <br>
                                        <%= post.parking %> espacio(s) para autom칩viles
                                        <br>
                                        <br>
                                        <% if(post.pool == "1") { %>
                                            Cuenta con alberca
                                        <% } else { %>
                                            No cuenta con alberca
                                        <% } %>
                                        <br>
                                        <br>
                                        <% if(post.coto == "1") { %>
                                            Se encuentra dentro de fraccionamiento
                                        <% } else { %>
                                            No se encuentra en fraccionamiento
                                        <% } %>
                                    </p>
                                </section>
                                <br>
                                <section class="card-header4">
                                    <p>
                                        <% if(post.terraza == "1") { %>
                                            Cuenta con terraza
                                        <% } else { %>
                                            No cuenta con terraza
                                        <% } %>
                                        <br>
                                        <br>
                                        <% if(post.cocina == "1") { %>
                                            Cuenta con cocina equipada
                                        <% } else { %>
                                            No cuenta con cocina equipada
                                        <% } %>
                                        <br>
                                        <br>
                                        <% if(post.jardin == "1") { %>
                                            Cuenta con jardin
                                        <% } else { %>
                                            No cuenta con jardin
                                        <% } %>
                                        <br>
                                        <br>
                                        <% if(post.aire == "1") { %>
                                            Cuenta con aire acondicionado
                                        <% } else { %>
                                            No cuenta con aire acondicionado
                                        <% } %>
                                    </p>
                                </section>
                                <br>
                            </section>
                        </header>

                    </article>
                    <!-- Comments section-->
                    <!--
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                
                                <form class="mb-4" method="POST" onsubmit="return doComment(this);">
                                    <input class="form-control" name="username" placeholder="Username"/>
                                    <br>
                                    <input type="hidden" name="post_id" value="<%= post._id %>" />
                                    <textarea class="form-control" name="comment" rows="3"></textarea>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                                <script>
                                    function doComment(form) {
                                        $.ajax({
                                            url: "/posts/:id",
                                            method: "POST",
                                            data: {username: form.username.value, comment: form.comment.value, post_id: form.post_id.value},
                                            success: function (response) {
                                                alert(response);
                                            }
                                        });
                                        return false;
                                    }
                                </script>


                                <% if (post.comments) { %>
                                    <% post.comments = post.comments.reverse() %>
                                    <% post.comments.forEach(function (comment) { %>
                                    
                                    <div class="d-flex mb-4">
                                       
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">
                                                <%= comment.username  %>
                                            </div>
                                            <%= comment.comment  %>
                                        </div>
                                    </div>
                                    <%  })  %>
                                <% } %>

                            </div>
                        </div>
                    </section>
                -->
                
            
        </div>
<%- include('footer'); -%>
